name: damocles-worker-util

on:
  pull_request:
    branches: ["main", "release/**", "dev/coop/**"]
    paths-ignore: ["*.md", "docs/**"]

  push:
    branches: ["main", "release/**", "dev/coop/**"]
    paths-ignore: ["*.md", "docs/**"]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: dependencies
        run: sudo apt update && sudo apt install --reinstall ocl-icd-opencl-dev libhwloc-dev -y

      - name: read rust toolchain
        id: read-rust-toolchain
        run: |
          echo "toolchain=$(cat ./rust-toolchain)" >> "$GITHUB_OUTPUT"

      - name: setup rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ steps.read-rust-toolchain.outputs.toolchain }}
          override: true
          components: rustfmt, clippy

      - name: test damocles-worker-util
        run: make test-worker-util

      - name: build damocles-worker-util
        run: make build-worker-util

      - name: check damocles-worker-util
        run: make check-worker-util

      - name: check git dirty
        run: make check-git

      - name: show bins
        run: ls -lha ./dist/bin/
