name: docker

on:
  push:
    tags: ['v*']

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      TAG: latest
    steps:
      - uses: actions/checkout@v3

      - name: login docker hub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: build and push manager docker image
        run: |
          make docker-manager
          docker tag damocles-manager filvenus/damocles-manager:${{ env.TAG }}
          docker push filvenus/damocles-manager:${{ env.TAG }}
          docker tag damocles-manager filvenus/damocles-manager:${{ github.ref_name }}
          docker push filvenus/damocles-manager:${{ github.ref_name }}

      - name: build and push worker docker image
        run: |
          make docker-worker
          docker tag damocles-worker filvenus/damocles-worker:${{ env.TAG }}
          docker push filvenus/damocles-worker:${{ env.TAG }}
          docker tag damocles-worker filvenus/damocles-worker:${{ github.ref_name }}
          docker push filvenus/damocles-worker:${{ github.ref_name }}
